@page
@model EmployeeRegisterModel
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/Shared/action_buttons.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Account/employee_register.css" asp-append-version="true" />

<div class="main_container padding_top_1rem">
    <div class="list_header">
        <h3>Rejestracja nowego pracownika</h3>
    </div>
    <div class="employee_register_form_div">
         <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="d-flex flex-row justify-content-center align-items-center gap-5 w-75">
                <div class="d-flex flex-column justify-content-center align-items-center gap-3 w-100">
                    <div class="form-floating w-100">
                        <input asp-for="Input.name" class="form-control" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.name">Imię</label>
                        <span asp-validation-for="Input.name" class="text-danger"></span>
                    </div>
                    <div class="form-floating w-100">
                        <input asp-for="Input.surname" class="form-control" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.surname">Nazwisko</label>
                        <span asp-validation-for="Input.surname" class="text-danger"></span>
                    </div>
                    <div class="form-floating w-100">
                        <input asp-for="Input.birthDate" class="form-control" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.birthDate">Data urodzenia</label>
                        <span asp-validation-for="Input.birthDate" class="text-danger"></span>
                    </div>
                    <div class="form-floating w-100">
                        <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating w-100">
                        <input asp-for="Input.pesel" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.pesel">Numer PESEL</label>
                        <span asp-validation-for="Input.pesel" class="text-danger"></span>
                    </div>
                    <div class="form-floating w-100">
                        <input asp-for="Input.street" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.street">Ulica</label>
                        <span asp-validation-for="Input.street" class="text-danger"></span>
                    </div>
                    <div class="form-floating w-100">
                        <input asp-for="Input.houseNumber" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.houseNumber">Numer domu</label>
                        <span asp-validation-for="Input.houseNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center gap-3 w-100">
                    <div class="form-floating w-100">
                        <input asp-for="Input.town" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.town">Miasto</label>
                        <span asp-validation-for="Input.town" class="text-danger"></span>
                    </div>
                    <div class="form-floating w-100">
                        <input asp-for="Input.zipCode" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.zipCode">Kod pocztowy</label>
                        <span asp-validation-for="Input.zipCode" class="text-danger"></span>
                    </div>
                    <div class="form-floating w-100">
                        <input asp-for="Input.phoneNumber" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.phoneNumber">Numer telefonu</label>
                        <span asp-validation-for="Input.phoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-floating w-100">
                        <select asp-for="Input.positionId" class="form-control form-select employee_register_select_style" asp-items="Model.position">
                            <option value="">Stanowisko</option>
                        </select>
                    </div>
                    <div class="form-floating w-100">
                        <input asp-for="Input.image" class="form-control employee_register_image_input_style" placeholder="Zdjęcie profilowe" />
                        <span asp-validation-for="Input.image" class="text-danger"></span>
                    </div>
                    <div class="form-floating w-100">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password">Hasło</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating w-100">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.ConfirmPassword">Potwierdź hasło</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button class="action-button biggest-button action-default mt-5" id="registerSubmit" type="submit">Zarejestruj pracownika</button>
         </form>
    </div>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
