@page
@model EmployeeRegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="myContainerv2">
<h1>Rejestracja</h1>
<div class="myForm" style="color:black;">
    <div class="row" style="width:75%;position:relative; left:15%">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.name" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.name">Imię</label>
                <span asp-validation-for="Input.name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.surname" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.surname">Nazwisko</label>
                <span asp-validation-for="Input.surname" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.birthDate" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.birthDate">Data urodzenia</label>
                <span asp-validation-for="Input.birthDate" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.pesel" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.pesel">Numer PESEL</label>
                <span asp-validation-for="Input.pesel" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.street" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.street">Ulica</label>
                <span asp-validation-for="Input.street" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.houseNumber" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.houseNumber">Numer domu</label>
                <span asp-validation-for="Input.houseNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.town" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.town">Miasto</label>
                <span asp-validation-for="Input.town" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.zipCode" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.zipCode">Kod pocztowy</label>
                <span asp-validation-for="Input.zipCode" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.phoneNumber" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.phoneNumber">Numer telefonu</label>
                <span asp-validation-for="Input.phoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.positionId" class="control-label"></label>
                <select asp-for="Input.positionId" class="form-control" asp-items="Model.position"></select>
            </div>
            <div class="form-group">
                <label asp-for="Input.image" class="control-label"></label>
                <input asp-for="Input.image" class="form-control" />
                <span asp-validation-for="Input.image" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Hasło</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Potwierdź hasło</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button class="button buttonGreen" id="registerSubmit" type="submit" style="width:50%; left:25%;position: relative;">Zarejestruj się</button>
        </form>
    </div>
</div>
    
    
</div>
@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
