@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Rejestracja";
}

<link rel="stylesheet" href="~/css/Shared/action_buttons.css" asp-append-version="true" />

<div class="list_header">
    <h1>@ViewData["Title"]</h1>
    <h2 id="external-login-title">Powiązanie konta @Model.ProviderDisplayName z kontem biblioteki.</h2>
    <h5 id="external-login-description" class="text-info">
        Pomyślnie uwierzytelniłeś się w <strong>@Model.ProviderDisplayName</strong>.
        Wpisz poniżej adres e-mail  i kliknij przycisk Zarejestruj, aby zakończyć logowanie.
    </h5>
</div>





<div class="form_div_login">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Please enter your email."/>
                <label asp-for="Input.Email" class="form-label">email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" placeholder="Podaj swoje imię." />
                <label asp-for="Input.Name" class="form-label">Imie</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Surname" class="form-control" placeholder="Podaj swoje nazwisko." />
                <label asp-for="Input.Surname" class="form-label">Nazwisko</label>
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
            <div style="text-align: center;">
            <button type="submit" class="action-login-button action-default">Zarejestruj się</button>
            </div>

            
        </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
