.cover {
    width: 200px;
    height: 300px;
}
.containers-vertical {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
}

.containers-horizontal-2 {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    overflow-y: auto;
}

@media screen and (min-width: 1300px)  {
    .text-4 {
        font-weight: bold;
    }

    .home-article {
        color: black;
        min-height: 1000px;
        padding-top: 150px;
        padding-left: 4vw;
        padding-right: 4vw;
    }

    .text-3 {
        font-size: 35px;
        font-style: italic;
        padding-left: 300px;
    }

    .image {
        width: 38.5vw;
        height: 375px;
    }

    .red-box {
        width: 3.8vw;
        height: 70px;
        background-color: #781C1C;
    }

    .title-h3 {
        position: relative;
        top: -68px;
        left: 5vw;
        width: 32vw;
        font-size: 150%;
    }

    .line {
        position: relative;
        top: -10px;
        left: 3.8vw;
        background-color: #D2D2D2;
        width: 35vw;
        height: 10px;
    }

    .title-section {
        margin-right: 4vw;
    }

    .containers-horizontal-vertical {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .info-container {
        padding: 23px;
        color: white;
        background-color: #781C1C;
        width: 28vw;
        height: 250px;
        margin-top: 10px;
        overflow-y: auto;
    }

    .text-2 {
        font-weight: bold;
        color: black;
        background-color: white;
        width: 146px;
        min-width: 12vw;
        padding: 0.5vw 0;
        margin-right: 10px;
        font-size: 15px;
        text-align: center;
    }

    .containers-horizontal-1 {
        display: flex;
        flex-direction: row;
        margin-bottom: 14px;
    }
    .text {
        padding-top: 1vw;
        font-size: 16px;
        margin: 0;
    }
}

@media screen and (max-width: 1300px) and (min-width: 880px) {
    .text {
        padding-top: 1vw;
        font-size: 16px;
        margin: 0;
    }

    .text-4 {
        font-weight: bold;
    }

    .text-2 {
        font-weight: bold;
        color: black;
        background-color: white;
        width: 145px;
        padding: 0.5vw 0;
        margin-right: 10px;
        font-size: 15px;
        text-align: center;
    }

    .text-3 {
        font-size: 20px;
        font-style: italic;
        padding-left: 100px;
    }

    .image {
        width: 70vw;
        height: 375px;
    }

    .red-box {
        width: 7vw;
        height: 70px;
        background-color: #781C1C;
    }

    .title-h3 {
        position: relative;
        top: -68px;
        left: 9vw;
        width: 32vw;
        font-size: 135%;
    }

    .line {
        position: relative;
        top: -10px;
        left: 7vw;
        background-color: #D2D2D2;
        width: 63vw;
        height: 10px;
    }

    .title-section {
        margin-right: 20px;
    }

    .containers-horizontal-vertical {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .home-article {
        color: black;
        min-height: 1000px;
        padding-top: 150px;
        padding-left: 4vw;
        padding-right: 4vw;
    }
    .containers-horizontal-1 {
        display: flex;
        flex-direction: row;
        margin-bottom: 14px;
    }
    .info-container {
        padding: 23px;
        color: white;
        background-color: #781C1C;
        width: 70vw;
        height: 270px;
        margin-top: 10px;
        overflow-y: auto;
    }
}

@media screen and (max-width: 880px)  {
    .text {
        padding-top: 1vw;
        font-size: 16px;
        margin: 0;
    }

    .text-4 {
        font-weight: bold;
    }

    .text-2 {
        font-weight: bold;
        color: black;
        background-color: white;
        width: 145px;
        min-width: 12vw;
        padding: 0.5vw 0;
        margin-right: 10px;
        font-size: 15px;
        text-align: center;
    }

    .text-3 {
        font-size: 20px;
        font-style: italic;
        padding-left: 100px;
    }

    .image {
        width: 70vw;
        height: 375px;
    }

    .red-box {
        width: 7vw;
        height: 70px;
        background-color: #781C1C;
    }

    .title-h3 {
        position: relative;
        top: -68px;
        left: 9vw;
        width: 32vw;
        font-size: 100%;
    }

    .line {
        position: relative;
        top: -10px;
        left: 7vw;
        background-color: #D2D2D2;
        width: 63vw;
        height: 10px;
    }

    .title-section {
        margin-right: 20px;
    }

    .containers-horizontal-vertical {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .home-article {
        color: black;
        min-height: 1000px;
        padding-top: 150px;
        padding-left: 4vw;
        padding-right: 4vw;
    }

    .containers-horizontal-1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 14px;
    }

    .info-container {
        padding: 23px;
        color: white;
        background-color: #781C1C;
        width: 70vw;
        height: 270px;
        margin-top: 10px;
        overflow-y: auto;
    }
}

