table{
    font-size:0.95rem;
}
table td, table th{
    padding: 0.6rem !important;
}
.table-header-style {
    background-color: #882e2e;
    color: #fff;
}
.table_div{
    width:90%;
    margin:auto;
}
.action-button {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    border: none;
    border-radius: 200px;
    padding: 0.35rem 1rem 0.35rem 1rem;
    font-weight: 600;
    font-size: 0.9rem;
    transition: all 250ms;
}

.action-button:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 12px;
    transform: translateY(-1px);
}
.action-button > i{
    color: #fff;
    padding-right: 0.3rem;
}
.action-confirm {
    color: #fff;
    background-color: forestgreen;
}
.action-delete {
    color:#fff;
    background-color: #d13636 /*#bf4343*/;
}
.action-cancel {
    margin-right:1rem;
    color: #73708e;
    background-color: #efeff9 /*#bf4343*/;
}
.action-cancel > i {
    color: #73708e;
}
.additional_payment_p {
    margin-bottom: .4rem;
}
.hidden-borrowId{
    display:none;
}
dialog .action-button {
    font-size: 1rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
}
.notification_div {
    display:flex;
    position:relative;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    position: fixed;
    border-radius: 10px;
    border: none;
    bottom: 0;
    right: 0;
    animation: slideIn 0.8s ease-in-out forwards;
    opacity: 0;
    background-color:#fff;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 20px;
    max-width: 400px;
}
.hide-notification{
    position:absolute;
    right:7px;
    top:0;
    font-size:1.2rem;
}
.hide-notification:hover {
    opacity:0.8;
    cursor:pointer;
}
.notification-message {
    color: #3e4140;
    margin-bottom: 0.1rem;
}
.notification-header-success {
    color: #64913c;
    margin-bottom: 0.1rem;
    font-weight:bold;
    font-size:1.3rem;
}
.notification-header-error {
    color: #96373c;
    margin-bottom: 0.1rem;
    font-weight: bold;
    font-size: 1.3rem;
}
.success_notification_icon {
    color: #64913c;
    font-size: 2.2rem;
    font-weight:bold;
    padding-right: 1rem;
}
.error_notification_icon {
    color: #96373c;
    font-size: 2.2rem;
    font-weight: bold;
    padding-right: 1rem;
}
.notification-div-fade-out {
    animation: fadeOut 1s ease-in-out forwards;
}
@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(5px);
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        transform: translateY(5px);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}