@page
@model Biblioteka.Pages.BookTypes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/Tag_BookTypes/main.css" asp-append-version="true" />


<div class="page-container">
    <div class="inner_container">
        <div class="list_header">
            <h3>Napewno chcesz usunąć ten element?</h3>
        </div>
        <div class="form_div">
            <div class="form_div_login">
                <dl>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BookType.name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BookType.name)
                    </dd>
                </dl>

                <form method="post">
                    <input type="hidden" asp-for="BookType.typeId" />
                    <input type="submit" value="Usuń" class="button buttonRed" />
                    <button class="button buttonDefault"><a class="lightText" asp-page="./Index">Wróć</a></button>

                </form>
            </div>
        </div>
    </div>
</div>

