@page
@model Biblioteka.Pages.BookTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Tag_BookTypes/main.css" asp-append-version="true" />
<partial name="_UnderHeaderBookTypes" />

<div class="page-container">
    <div class="inner_container">
        @if (Model.BookType.Any())
        {
            <div class="search_div">
                <form method="get" asp-page="./Index">
                    <input type="text" placeholder="Wyszukaj rodzaj" name="booktypeName">
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        }
        <div class="move_right">
            <button class="button-green">
                <a class="nav-link text-light" asp-page="Create">Dodaj nowy rodzaj</a>
            </button>
        </div>
        <div class="list_div">
            <div class="table-responsive">
                <table class="table-page">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.BookType[0].name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.BookType)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                        <button class="button-green"><a class="lightText" asp-page="./Edit" asp-route-id="@item.typeId">Edytuj</a></button>
                                        <button class="button-red"><a class="lightText" asp-page="./Delete" asp-route-id="@item.typeId">Usuń</a>

                            </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


