@page
@model Biblioteka.Pages.Events.CreateModel

@{
    ViewData["Title"] = "Create";
}
<partial name="_UnderHeaderCreate" />
<link rel="stylesheet" href="~/css/Shared/action_buttons.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Events/form.css" asp-append-version="true" />
<div class="main_container">

        <div class="list_header">
            <h1>Dodaj nowe wydarzenie</h1>
        </div>

            <div class="propper-form">
                <form method="post">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Event.name" class="control-label"></label>
                        <input asp-for="Event.name" class="form-control" />
                        <span asp-validation-for="Event.name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Event.description" class="control-label"></label>
                        <input asp-for="Event.description" class="form-control" />
                        <span asp-validation-for="Event.description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Event.eventDate" class="control-label"></label>
                        <input asp-for="Event.eventDate" class="form-control" />
                        <span asp-validation-for="Event.eventDate" class="text-danger"></span>
                    </div>
                    <div class="form_buttons">
                        <div class="form-group">
                            <input type="submit" value="Dodaj" class="action-button action-confirm" />
                        </div>
                        <div>
                            <a class="lightText action-button action-default" asp-page="./Index">Wróć</a>
                        </div>
                    </div>
                    
                </form>
            </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
