@page
@model Biblioteka.Pages.Publishers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<div class="main_container">
    <div class="inner_container">
        <div class="list_header">
            <h1>Napewno chcesz usunąć ten element?</h1>
        </div>
        <div class="form_div">
            <div class="form_div_login">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Publisher.name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Publisher.name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Publisher.description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Publisher.description)
                    </dd>
                </dl>

                <form method="post">
                    <input type="hidden" asp-for="Publisher.publisherId" />
                    <input type="submit" value="Usuń" class="button buttonRed" />
                    <button class="button buttonDefault"><a class="lightText" asp-page="./Index">Wróć</a></button>
                </form>
            </div>
        </div>
    </div>
</div>


