@page
@model Biblioteka.Pages.AboutUsModel
@{
}
<partial name="_UnderHeaderAboutUs" />
<link rel="stylesheet" href="~/css/AboutUs/aboutus.css" asp-append-version="true" />
<div class="page-container">
    <div class="text-with-image">
        <h4 style="color: #882E2E; font-weight:bold">
            
           
            Witaj w Bibliotece Miejskiej w Białymstoku, twoim centrum informacji i kultury. Jesteśmy dumni z naszej roli jako miejsce, które nie tylko przechowuje książki, ale również łączy ludzi i wspiera lokalną społeczność poprzez dostęp do wiedzy i kultury.
            <img src="images/cnk.jpg" alt="Opis obrazu 1">
        </h4>
    </div>
    <h2>Nasza misja</h2>
    <div class="text-with-image">
        <h5>  
            Naszą misją jest inspirowanie i wspieranie mieszkańców Białegostoku w ich dążeniu do rozwoju osobistego, edukacyjnego i zawodowego. Dążymy do tego, by być źródłem wiedzy, kreatywności i innowacji, dostępnym dla wszystkich bez względu na wiek czy tło kulturowe.
        </h5>
    </div>
    <h2>Nasze usługi</h2>
    <ul><h5>
        <li><div style="font-weight: bold">E-booki:</div> Nasza bogata kolekcja cyfrowych książek jest dostępna online 24/7. Zarejestruj się, aby uzyskać dostęp do tysięcy e-booków z różnych dziedzin i gatunków literackich, które możesz czytać na swoim urządzeniu mobilnym lub komputerze.</li>
        <li><div style="font-weight: bold">Wypożyczanie sal:</div> Oferujemy możliwość wynajęcia sal na różnorodne wydarzenia, takie jak warsztaty, seminaria, konferencje czy spotkania klubów książki. Nasze sale są wyposażone w nowoczesne udogodnienia, które pomogą zorganizować każde wydarzenie.</li>
        <li><div style="font-weight: bold">Wydarzenia kulturalne i edukacyjne:</div> Organizujemy liczne wydarzenia, w tym warsztaty literackie, wykłady, spotkania autorskie i festiwale kulturalne, które są otwarte dla publiczności i mają na celu promowanie czytelnictwa i kultury.</li>
        </h5>
    </ul>
    <h2>Skontaktuj się z nami</h2>
    <div class="text-with-image">
        <h5>
            Masz pytania lub chcesz zorganizować wydarzenie? Skontaktuj się z nami przez e-mail lub telefonicznie. Możesz także odwiedzić naszą bibliotekę osobiście, aby dowiedzieć się więcej o naszych usługach i jak możesz z nich skorzystać.
        </h5>
    </div>
    <h4 style="font-weight: bold; margin-top: 30px;">
        Zapraszamy do odwiedzenia naszej biblioteki i dołączenia do naszej społeczności czytelników i uczestników kultury.
    </h4>
</div>
