@page
@model Biblioteka.Pages.alelatwoModel
@{
    ViewData["Title"] = "Room Reservations";
}

<p>To konto uzytkownika jest tymczasowe. Nie mozesz korzystac z glownych funkcjonalnosci biblioteki, dopoki nie potwierdzisz konta kilkajac w link przeslany na poczte</p>
<button>Wyslij potwierdzenie ponownie</button>