@page
@model Biblioteka.Pages.ContactModel
@{
}
<link rel="stylesheet" href="~/css/Contact/contact.css" asp-append-version="true" />

<partial name="_UnderHeaderContact" />


<div class="page-container" >
    <div class="page-container-horizontal">
        <div class="page-container3">
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9787.727903005856!2d23.15493427368469!3d53.11918528500987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ffc048f41971d%3A0x72317dcc8bf07b2c!2sBia%C5%82ystok!5e0!3m2!1spl!2spl!4v1715556299162!5m2!1spl!2spl" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         </div>
         <div class="page-container2">
                <div class="page-container-center-vertically">
                 <h2>Dane kontakowe</h2>
                 <hr />
                 <p>E-mail: krztyniec@wp.pl</p>
                 <p>Telefon: +48 998567789</p>
                  <p>NIP: 1238905674</p>
                 <p> Region: 890567345</p>
                 <br />
                 <h2>Adres</h2>
                 <hr />
                 <p>ul. Mokra 67</p>
                 <p>33-555 Białystok</p>
                  <br />
                  <h2>Social media</h2>
                 <hr />
                 <div class="social-media">
                     <a href="https://pl-pl.facebook.com/"><i class="fa-brands fa-square-facebook fa-2xl" style="color: #ffffff; font-size: 60px; margin: 1vw"></i></a>
                     <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram fa-2xl" style="color: #ffffff; font-size: 60px; margin: 1vw"></i></a>
                     <a href="https://twitter.com/?lang-en"><i class="fa-brands fa-square-x-twitter fa-2xl" style="color: #ffffff; font-size: 60px; margin: 1vw"></i></a>
                     <a href="https://www.tiktok.com/explore"><i class="fa-brands fa-tiktok  fa-2xl" style="color: #ffffff; font-size: 60px; margin: 1vw"></i></a>
                 </div>  
               </div>
       </div>
     </div>
</div>
