.employee_register_form_div {

}

.employee_register_form_div > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.employee_register_select_style{
    padding-top: .62rem !important;
}
.employee_register_image_input_style {
    padding: 1.1rem 0 0 .75rem !important;
    height:100%;
}
@media(max-width:1200px){
    .employee_register_in_form_div {
        width: 100% !important;
        gap: 1rem !important;
    }
}
@media(max-width:800px) {
    .employee_register_in_form_div {
        flex-direction: column !important;
        width: 75% !important;
    }
}
.fill-form-btn {
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 5px;
}
.password_text{
    text-align:center;
    margin-top: 1rem;
    font-weight:bold;
}