@page
@model Biblioteka.Pages.Authors.AddAuthorModel

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/Shared/action_buttons.css" asp-append-version="true" />
<div class="main_container">
        <h1>Nadaj prawa autora</h1>
        <div class="form_div_login">
            <div class="row">
                <form method="post">
                    <hr />
                    <div class="form-group">
                        <label asp-for="Reader" class="control-label"></label>
                        <select asp-for="@Model.ReaderId" class="form-control" asp-items="Model.Reader"></select>
                    </div>
                    <div class="form_buttons">
                        <div class="form-group">
                            <input type="submit" value="Dodaj" class="action-button action-confirm" />
                        </div>
                        <div>
                            <button class="action-button action-default"><a class="lightText" asp-page="./Index">Wróć</a></button>
                        </div>
                    </div>  
                </form>
            </div>
        </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
