@page
@model Biblioteka.Pages.Authors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/Shared/action_buttons.css" asp-append-version="true" />

<div class="main_container" style="display: flex; justify-content: center;  align-items: center; flex-direction: column;">
    <h1>Edycja autora</h1>
    <div class="form_div_login">
        <div class="row">
            <form method="post" enctype="multipart/form-data">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Author.authorId" />
                <div class="form-group">
                    <label asp-for="Author.name" class="control-label"></label>
                    <input asp-for="Author.name" class="form-control" />
                    <span asp-validation-for="Author.name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author.surname" class="control-label"></label>
                    <input asp-for="Author.surname" class="form-control" />
                    <span asp-validation-for="Author.surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author.birthDate" class="control-label"></label>
                    <input asp-for="Author.birthDate" class="form-control" />
                    <span asp-validation-for="Author.birthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author.country" class="control-label"></label>
                    <input asp-for="Author.country" class="form-control" />
                    <span asp-validation-for="Author.country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author.nickname" class="control-label"></label>
                    <input asp-for="Author.nickname" class="form-control" />
                    <span asp-validation-for="Author.nickname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author.description" class="control-label"></label>
                    <input asp-for="Author.description" class="form-control" />
                    <span asp-validation-for="Author.description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author.image" class="control-label"></label>
                    <input asp-for="Author.image" class="form-control" />
                    <span asp-validation-for="Author.image" class="text-danger"></span>
                </div>
                <div class="form_groups">
                    <input type="submit" value="Zapisz zmiany" class="button action-button action-confirm" />
                    <button class="action-button action-default"> <a class="lightText" asp-page="./Index">Wróć</a></button>
                </div>
            </form>
        </div>       
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

     <script>
        $(document).ready(function() {
            // Check if the update was successful
            var updateSuccess = '@TempData["UpdateSuccess"]';
            if (updateSuccess) {
                window.history.back();
            }
        });
    </script>
}
