@page
@model Biblioteka.Pages.Genres.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="main_container">
    <div class="inner_container">
        <div class="list_header">
            <h3>Czy napewno chcesz usunąć ten element?</h3>
        </div>
        <div class="form_div">
            <div class="form_div_login">
                <dl>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Genre.name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Genre.name)
                    </dd>
                </dl>

                <form method="post">
                    <input type="hidden" asp-for="Genre.genreId" />
                    <input type="submit" value="Usuń" class="button buttonRed" />
                    <button class="button buttonDefault"><a class="lightText" asp-page="./Index">Wróć</a></button>
                </form>
            </div>
        </div>
    </div>
</div>


