@page
@model Biblioteka.Pages.Genres.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="main_container">
    <div class="inner_container">
        <div class="list_header">
            <h1>Gatunki</h1>
        </div>
        @if (Model.Genre.Any())
        {
            <div class="search_div">
                <form method="get" asp-page="./Index">
                    <input type="text" placeholder="Wyszukaj gatunek" name="genreName">
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        }
        <div class="move_right">
            <button class="button buttonDefault addNewBookButton">
                <a class="nav-link text-light" asp-page="Create">Dodaj nowy gatunek</a>
            </button>
        </div>
        <div class="list_div">
            <div class="table-responsive">
                <table class="tableToModify">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Genre[0].name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Genre)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    <button class="button buttonGreen"><a class="lightText" asp-page="./Edit" asp-route-id="@item.genreId">Edytuj</a></button>
                                    <button class="button buttonRed"><a class="lightText" asp-page="./Delete" asp-route-id="@item.genreId">Usuń</a></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>   
     </div>
</div>
