@page
@model Biblioteka.Views.Suggestions.CreateModel
@{
    ViewData["Title"] = "Create";
}
<div class="main_container">
    <div class="inner_container">
        <div class="list_header">
            <h1>Dodaj nową sugestię</h1>
        </div>
        <div class="form_div">
            
            <form method="post">
                <div class="form-group">
                    <input type="text" asp-for="suggestion.title" class="form-control" id="title" placeholder="tytuł"/>
                    <span asp-validation-for="suggestion.title" class="text-danger"></span>
                    <input type="text" asp-for="suggestion.author" class="form-control" id="author" placeholder="autor"/>
                    <span asp-validation-for="suggestion.author" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input type="submit" value="Dodaj do listy sugestii" class="button buttonGreen"/>
                    <div>
                        <a class="lightText button buttonDefault" asp-page="../Books/Index">Wróć</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>