.main-header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

    .main-header h1 {
        margin-left: 40px;
    }

    .main-header .header-buttons {
        margin-left: auto;
    }

.main_container h3 {
    background-color: #882E2E;
    padding: 20px;
    border-radius: 5px;
    color: white;
}

.main_container h4 {
    margin-left: 20px;
    background-color: #e6e6e6;
    padding: 5px;
    border-radius: 5px;
    max-width: 300px;
}

.main_container p {
    font-size: 20px;
    margin-left: 20px;
}

#user-photo {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0 6px 12px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.image-container {
    position: relative;
    display: inline-block;
}

    .image-container i {
        position: absolute;
        filter: none !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        color: white;
    }

    .image-container:hover i {
        opacity: 1;
        filter: none;
    }

    .image-container:hover img {
        filter: brightness(60%);
    }

.header-buttons button {
    margin: 5px;
}

#specific-info {
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

.hidden {
    max-height: 0;
}

.visible {
    max-height: 500px; /* Ustaw maksymalną wysokość na odpowiednią wartość */
}
