@page
@model Biblioteka.Pages.Tags.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<div class="main_container">
    <div class="inner_container">
        <div class="list_header">
            <h3>Czy na pewno chcesz usunąć ten element?</h3>
        </div>
        <div class="form_div">
            <div class="form_div_login">
                <form method="post">
                    <input type="hidden" asp-for="Tag.tagId" />
                    <input type="submit" value="Usuń" class="button buttonRed" />
                    <button class="button buttonDefault"><a class="lightText" asp-page="./Index">Wróć</a></button>
                </form>
            </div>
        </div>
    </div>
</div>
