@page
@model Biblioteka.Pages.Tags.EditModel

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/Tag_BookTypes/main.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Shared/action_buttons.css" asp-append-version="true" />

<div class="page-container">
    <div class="inner_container">
        <div class="list_header">
            <h1>Edycja tagu</h1>
            <hr />
        </div>
        <div>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Tag.tagId" />
                    <div class="form-group">
                        <label asp-for="Tag.name" class="control-label"></label>
                        <input asp-for="Tag.name" class="form-control" />
                        <span asp-validation-for="Tag.name" class="text-danger"></span>
                    </div>
                    <div class="form_buttons">
                        <div class="form-group">
                            <input type="submit" value="Zapisz" class="button action-button action-confirm" />
                        </div>
                        <div>
                            <a class="action-button action-default" asp-page="./Index">Wróć</a>
                        </div>
                    </div>
                </form>

        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
