@page
@model Biblioteka.Pages.EmployeeExtraData.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="main_container">
    <div class="inner_container">
        <div class="list_header">
            <h1>Dodaj nowe dane do pracownika</h1>
        </div>
        <div class="form_div">
            <div class="form_div_login">
                <form method="post">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="EmployeeData.pesel" class="control-label"></label>
                        <input asp-for="EmployeeData.pesel" class="form-control" />
                        <span asp-validation-for="EmployeeData.pesel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeData.street" class="control-label"></label>
                        <input asp-for="EmployeeData.street" class="form-control" />
                        <span asp-validation-for="EmployeeData.street" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeData.houseNumber" class="control-label"></label>
                        <input asp-for="EmployeeData.houseNumber" class="form-control" />
                        <span asp-validation-for="EmployeeData.houseNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeData.town" class="control-label"></label>
                        <input asp-for="EmployeeData.town" class="form-control" />
                        <span asp-validation-for="EmployeeData.town" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeData.zipCode" class="control-label"></label>
                        <input asp-for="EmployeeData.zipCode" class="form-control" />
                        <span asp-validation-for="EmployeeData.zipCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeData.phoneNumber" class="control-label"></label>
                        <input asp-for="EmployeeData.phoneNumber" class="form-control" />
                        <span asp-validation-for="EmployeeData.phoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeData.birthDate" class="control-label"></label>
                        <input asp-for="EmployeeData.birthDate" class="form-control" />
                        <span asp-validation-for="EmployeeData.birthDate" class="text-danger"></span>
                    </div>

                    <div class="form_buttons">
                        <div class="form-group">
                            <input type="submit" value="Dodaj nowe dane" class="button buttonGreen" />
                        </div>
                        <div>
                            <a class="lightText button buttonDefault" asp-page="../Employees/Index">Wróć</a>
                        </div>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
