@page
@model Biblioteka.Pages.Borrowings.ConfirmationReturnModel

@{
    ViewData["Title"] = "ConfirmationReturn";
}

<div class="main_container">
    <div class="inner_container">
        <div class="list_header">
            <h1>Potwierdzenie zwrotu</h1>
        </div>
        <div class="form_div">
            <div class="form_div_login">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Borrowing.book.title)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Borrowing.book.title)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Reader.FullName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Reader.FullName)
                    </dd>

                </dl>

                <form method="post">
                    <input type="hidden" asp-for="Borrowing.borrowId" />
                    <input type="submit" value="Potwierdź" class="button buttonRed" />
                    <button class="button buttonDefault"><a class="lightText" asp-page="./IndexAdmin">Wróć</a></button>
                </form>
            </div>
        </div>
    </div>
</div>
