@page
@model Biblioteka.Pages.Borrowings.IndexGuestModel
@{
    ViewData["Title"] = "Guest Index";
}

<div class="myContainerv2">
    <h4>Kliknij w link rejestracyjny, który został przesłany na twoją pocztę, aby mieć dostęp do tej strony.</h4>
</div>


