@inject UserManager<BibUser> UserManager

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<link rel="stylesheet" href="~/css/Account/profile_layout.css" asp-append-version="true" />
<div class="main-profile-container">
    <div class="left-profile-container">
        <div class="photo-container">
            @{
                var user = await UserManager.GetUserAsync(User);
                if (user != null && user.profilePicData != null)    
                {
                    <img src="data:image/jpg;base64,@(Convert.ToBase64String(user.profilePicData))" alt="Zdjęcie profilowe" />
                    <i class="fa-solid fa-pen-to-square"></i>
                }
                else
                {
                    <img src="~/images/user_photo.jpg" alt="Zdjęcie profilowe" />
                    <i class="fa-solid fa-pen-to-square"></i>
                }
            }
            
        </div>
        <div class="nav_container">
            <partial name="_ManageNav" />
        </div>
    </div>
    <div class="outer-right-profile-container">
        <div class="inner-right-profile-container">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
