@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<link rel="stylesheet" href="~/css/Account/changePassword.css" asp-append-version="true" />
<div class="container_account">
    <div>
        <h3><i class="fa-solid fa-lock"></i> Zmiana hasła</h3>
        <partial name="_StatusMessage" for="StatusMessage" />
    </div>
    <form id="container_account" method="post">
        <div class="container_account">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Input.OldPassword" class="input-form" autocomplete="current-password" aria-required="true" placeholder="Obecne hasło" />
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.NewPassword" class="input-form" autocomplete="new-password" aria-required="true" placeholder="Nowe hasło" />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.ConfirmPassword" class="input-form" autocomplete="new-password" aria-required="true" placeholder="Powtórz nowe hasło"/>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        
        <button asp-page-handler="SendChangePasswordEmail" class="red-button">Zmień hasło</button>
        </div> 
        
    </form>
    
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
