@page
@model Biblioteka.Areas.Identity.Pages.Account.Manage.ConfirmPasswordResetModel
@{

}

<h2>Set New Password</h2>

<partial name="_StatusMessage" for="StatusMessage" />

<form method="post">
    <input type="hidden" asp-for="Input.UserId" />
    <input type="hidden" asp-for="Input.Code" />

    <div>
        <label asp-for="Input.NewPassword"></label>
        <input type="password" asp-for="Input.NewPassword" />
    </div>

    <div>
        <label asp-for="Input.ConfirmPassword"></label>
        <input type="password" asp-for="Input.ConfirmPassword" />
    </div>

    <button type="submit">Set Password</button>
</form>