@page
@model Biblioteka.Areas.Identity.Pages.Account.Manage.NotifyFreqModel
@{
}

<link rel="stylesheet" href="~/css/Account/notifyfreq.css" asp-append-version="true" />
<div class="container-account">
<h2>Ustawienia powiadomień <i class="fa-regular fa-bell"></i></h2>
<hr />
<br>

<div>Aktualna liczba dni przed zwrotem: @Model.CurrentDaysBeforeReturn</div>

<form method="post">
    <label for="notificationDays">Wybierz nową liczbę dni przed, w których chcesz otrzymywać powiadomienia poniżej:</label>
    <div class="container_account2">
        <input type="number" id="notificationDays" name="notificationDays" min="1" max="30" required class="input-form" />
        <button type="submit" class="red-button">Zapisz</button>
    </div>
</form>
</div>