@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
<link rel="stylesheet" href="~/css/Account/personaldata.css" asp-append-version="true" />
<div class="container_account">
    <div>
        <h3><i class="fa-solid fa-book-open-reader"></i> Dane osobiste</h3>
    </div>
    <div>
        <p>Twoje konto zawiera dane osobowe, które nam przekazałeś. Ta strona umożliwia pobranie lub usunięcie tych danych.</p>
        <p>
            <strong>Usunięcie tych danych spowoduje trwałe usunięcie Twojego konta, którego nie będzie można odzyskać.</strong>
        </p>
        <div class="container_account2">
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="blue-button" type="submit">Pobierz</button>
            </form>
            <div style="margin-left:20px;">
                <a id="delete" asp-page="DeletePersonalData" class="red-button"><i class="fa-solid fa-eraser"></i> Usuń</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
