@page
@model Biblioteka.Pages.Employees.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="main_container">
    <div class="inner_container">
        <div class="list_header">
            <h1>Edytuj dane ogólne pracownika</h1>
        </div>
        <div class="form_div">
            <div class="form_div_login">
                <form method="post">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Employee.employeeId" />
                    <div class="form-group">
                        <label asp-for="Employee.name" class="control-label"></label>
                        <input asp-for="Employee.name" class="form-control" />
                        <span asp-validation-for="Employee.name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Employee.surname" class="control-label"></label>
                        <input asp-for="Employee.surname" class="form-control" />
                        <span asp-validation-for="Employee.surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Employee.dateOfEmployment" class="control-label"></label>
                        <input asp-for="Employee.dateOfEmployment" class="form-control" />
                        <span asp-validation-for="Employee.dateOfEmployment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Employee.position" class="control-label"></label>
                        <select asp-for="@Model.PositionId" class="form-control" asp-items="Model.Positions"></select>
                    </div>
                    <div class="form_buttons">
                        <div class="form-group">
                            <input type="submit" value="Zapisz" class="button buttonGreen" />
                        </div>
                        <div>
                            <a class="lightText button buttonDefault" asp-page="./Index">Wróć</a>
                        </div>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
