@page
@model Biblioteka.Views.Books.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="main_container">
    <div class="inner_container">
        <div class="list_header">
            <h1>Edytuj książkę pt: <b></b></h1>
        </div>
        <div class="form_div">
            <div class="form_div_login">
                <form method="post" enctype="multipart/form-data">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Book.bookId" />
                    <div class="form-group">
                        <label asp-for="Book.title" class="control-label"></label>
                        <input asp-for="Book.title" class="form-control" />
                        <span asp-validation-for="Book.title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.ISBN" class="control-label"></label>
                        <input asp-for="Book.ISBN" class="form-control" />
                        <span asp-validation-for="Book.ISBN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.description" class="control-label"></label>
                        <input asp-for="Book.description" class="form-control" />
                        <span asp-validation-for="Book.description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.availableCopys" class="control-label"></label>
                        <input asp-for="Book.availableCopys" class="form-control" />
                        <span asp-validation-for="Book.availableCopys" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.releaseDate" class="control-label"></label>
                        <input asp-for="Book.releaseDate" class="form-control" />
                        <span asp-validation-for="Book.releaseDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GenreId" class="control-label"></label>
                        <select asp-for="GenreId" class="form-control" asp-items="Model.Genre"></select>
                        <span asp-validation-for="GenreId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TagIds" class="control-label"></label>
                        <select asp-for="TagIds" asp-items="Model.Tag" class="form-control" multiple="multiple"></select>
                        <span asp-validation-for="TagIds" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookTypeId" class="control-label"></label>
                        <select asp-for="BookTypeId" class="form-control" asp-items="Model.Type"></select>
                        <span asp-validation-for="BookTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PublisherId" class="control-label"></label>
                        <select asp-for="PublisherId" class="form-control" asp-items="Model.Publisher"></select>
                        <span asp-validation-for="PublisherId" class="text-danger"></span>
					</div>
                    <div class="form-group">
                        <label asp-for="AuthorIds" class="control-label"></label>
                        <select asp-for="AuthorIds" asp-items="Model.Author" class="form-control" multiple="multiple"></select>
                        <span asp-validation-for="AuthorIds" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.image" class="control-label"></label>
                        <input asp-for="Book.image" class="form-control" />
                        <span asp-validation-for="Book.image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.ebook" class="control-label"></label>
                        <input asp-for="Book.ebook" class="form-control" />
                        <span asp-validation-for="Book.ebook" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.audiobook" class="control-label"></label>
                        <input asp-for="Book.audiobook" class="form-control" />
                        <span asp-validation-for="Book.audiobook" class="text-danger"></span>
                    </div>
                    <hr />
                    @{
                        if (User.IsInRole("Employee"))
                        {
                        <dd>
                            <span>Lokalizacja książki w bibliotece:</span>
                        </dd>
                        <div class="form-group">
                            <label asp-for="Book.floor" class="control-label"></label>
                            <input asp-for="Book.floor" class="form-control" />
                            <span asp-validation-for="Book.floor" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Book.alley" class="control-label"></label>
                            <input asp-for="Book.alley" class="form-control" />
                            <span asp-validation-for="Book.alley" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Book.rowNumber" class="control-label"></label>
                            <input asp-for="Book.rowNumber" class="form-control" />
                            <span asp-validation-for="Book.rowNumber" class="text-danger"></span>
                        </div>
                        }
                    }
                <div class="form_buttons">
                    <div class="form-group">
                        <input type="submit" value="Zapisz" class="button buttonGreen lightText" />
                    </div>
                    <div>
                        <a class="lightText button buttonDefault" asp-page="./Index">Wróć</a>
                    </div>
                </div>
               
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
